.container {
  display: flex;

  &.row {
    flex-direction: row;
  }
  &.row-reverse {
    flex-direction: column-reverse;
  }
  &.column {
    flex-direction: column;
  }

  &.column-reverse {
    flex-direction: column-reverse;
  }

  &.wrap {
    flex-wrap: wrap;
  }
  &.row-wrap {
    flex-flow: row wrap;
  }

  &.flex-end {
    justify-content: flex-end;
  }
}



.item {
  &.max-width {
    max-width: 15%;
  }

  &.fill {
    flex-grow: 1;
  }

  &.flex-grow {
    flex-grow: 2;
  }
}
