.container {
  display: flex;

  .container.row {
    flex-direction: row;
  }
  .container.row-reverse {
    flex-direction: column-reverse;
  }
  &.column {
    flex-direction: column;
  }

  .container.column-reverse {
    flex-direction: column-reverse;
  }

  .container.wrap {
    flex-wrap: wrap;
  }

  .container.flex-end {
    justify-content: flex-end;
  }
}



.item {}

  .item.max-width {
    max-width: 15%;
  }

  .item.fill {
    flex-grow: 1;
  }