body {
    background: #111;
    margin-top: 40px;
    text-align: center;
}

canvas {
    border: solid 1px red;
}

#logo {
    font-family: helvetica;
    font-size: 1.4em;
}

#pause_menu, #restart_menu {
    display: none;
}

#score_container {
    float: right;
    display: inline;
}