
// Colour - Pink + Red
$cerise: #E82A86;
$razzleDazzle: #FF2EFB;
$pippin: #ffe5e5;


// Colour - Orange
$cinnabar: #E8472A;
$burningOrange: #FF6C2E;


// Colour - Grey + White
$zircon: #f7faff;
$shark: #212326;


